*
!adj.py
!main.py
!mcmc.py
!corr2cov.py
!sun_position.py
!units.py
!image
!image/pdf
image/pdf/*
!image/pdf/.gitkeep
!image/png
image/png/*
!image/png/.gitkeep
!input
input/*
!input/example.csv
!output
output/*
!output/example_result.csv
!output/example_normalized.csv
!.gitignore
!LICENSE
!README.md